<div id="<%= dom_id blog_post %>">
  <p>
    <strong>Title:</strong>
    <%= blog_post.title %>
  </p>

  <p>
    <strong>Content:</strong>
  </p>
  
  <div class="markdown-content" id="content-<%= blog_post.id %>">
    <%= blog_post.content %>
  </div>
  
  <button type="button" id="view_in_stackedit_<%= blog_post.id %>" class="stackedit-view-button" data-content-id="content-<%= blog_post.id %>" style="margin-top: 10px; margin-bottom: 15px; padding: 8px 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-markdown" viewBox="0 0 16 16" style="vertical-align: text-bottom; margin-right: 5px;">
      <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
      <path d="M9.146 8.146a.5.5 0 0 1 .708 0L11.5 9.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z"/>
      <path d="M11.5 5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 1 .5-.5z"/>
    </svg>
    View in StackEdit
  </button>

  <% if blog_post&.image&.attached? %>
    <%= image_tag blog_post.image, width: 500, height: 500, style: "border-radius: 10px;" %>
  <% else %>
    <p>Generating AI Image...</p>
  <% end %>

</div>
